.AllElements {
  grid-area: constructor;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: min-content;
  padding-top: 65px;
  padding-left: 20px;
  /* overflow: scroll; */
}

.ItemMiddle {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 470px;
}

.Item {
  display: flex;
  align-items: center;
}

.InTotal {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.Nothing {
  display: flex;
  border: 1px dotted dodgerblue;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 150%;
  height: 80px;
}
.Nothing p {
  margin: 0;
}
