.AllElements {
    grid-area: constructor;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: min-content;
  }
  
  .ItemMiddle {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .Item {
    display: flex;
    align-items: center;
  }
  
  .InTotal {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  