.MainBurgerIngredients {
    width: 50%;
    max-width: 600px;
    padding: 0;
    margin: 50px 0px 0px 0px;
    box-sizing: border-box;
}

.ingredients {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sections {
    overflow-y: scroll;
  }